/* Universal Styling */ 
  body {
    background: black;
    font-family: 'Inter', sans-serif;
}

  .side-pad {
    padding-left: 0px;
    padding-right: 20px;
    align-items: flex-start !important;
}

  .row {
    --bs-gutter-x: 0rem;
  }

  .grid {
    width: 100%;
    max-width: 1850px;
    margin: 0 auto;
    overflow: hidden;
}

  .grid-nav {
    width: 100%;
    max-width: 2500px;
    margin: 0 auto;
    overflow: hidden;
}

  h5 {
    font-size: 4rem;
}

/* Navbar */
  ul .social-media-icons {
  margin: 0;
  text-align: right;
  list-style: none;
  margin-top: auto;
}

  .social-media-icons li {
  color: #fff;
  display: inline-block;
  float: none;
  list-style: none outside none;
}

  .social-colour {
    text-decoration: none;
    color: white;
}

  i {
    font-size: 30px;
    padding: 15px 10px;
}

  .navbar {
    position: absolute;
    z-index: 100;
    width: 100%;
    padding-top: 0px;
    /*
    background: #000000;
    border-bottom: 2px solid #ffffff96;
    */
}   

  .navbar-brand {
    padding-top: 0px;
    font-size: 0rem;
}

  .navbar-brand img {
    width: 180.4px;
    height: 61.6px;
}

/* Carousel */
  .img-sizing {
    height: 96vh;
    overflow: hidden;
}

  .down-arrow {
    position: absolute;
    bottom: 15vh;
    right: 11vw;
    z-index: 1000;
}

  .img-sizing img {
    height: 100%;
    object-fit: cover;
    object-position: 50% top;
 }

  #imageBox {
    padding-left: 0px !important;
    padding-right: 0px !important;
    position: relative;
}

  .text-panel {
    width: 100%;
    display: flex;
    align-items: center;
    height: 4vh;
    background-color: white;
    padding: 0px;
    padding-top: 4px;
}

  .small-text-holder {
    display: flex;
    overflow: hidden;
    justify-content: flex-start;
}

  .sliding-text {
    z-index: 100;
    bottom: 10vh;
    font-size: 1.5vh;
    font-weight: 500;
    text-align: center;
    color: black;
    float:left;
    margin: 1px;
    white-space: nowrap;
}

  .marquee {
    display: flex;
    height: 100%;
    justify-content: flex-start;
    align-items: stretch;
    -moz-animation: scroll 80s linear infinite;
    -webkit-animation: scroll 80s linear infinite;
    animation: scroll 80s linear infinite;
    transform-style: preserve-3d;
}

/* Make it move */
  @-moz-keyframes scroll {
    0% {
      transform: translateX(0vw);
    }
    100% {
      transform: translateX(-90vw);
    }
}
  @-webkit-keyframes scroll {
    0% {
      transform: translateX(0vw);
    }
    100% {
      transform: translateX(-90vw);
    }
}
  @keyframes scroll {
    0% {
      -moz-transform: translateX(0vw);
      -webkit-transform: translateX(0vw);
      transform: translateX(0vw)
    }
    100% {
      -moz-transform: translateX(-90vw);
      -webkit-transform: translateX(-90vw);
      transform: translateX(-90vw);
    }
}

  .arrow-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    bottom: 10vh;
    right: 6vw;
    position: absolute;
}

  .sign-up img {
    width: 180px;
    height: 120px;
}

  .modal-content iframe,  .modal-content object,  .modal-content embed {
    min-height: 39.6rem;
    background-color: #000;
}

/* Main */
  .site-text {
    text-align: center;
    padding-top: 0px;
    height: 20vh;
    padding: 0px;
    max-width: 2500px;
}

  .site-text-2 {
    text-align: center;
    padding: 0px;
}

  .img-banner {
    height: 15vh;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-bottom: 2px #5fff00 solid;
    background-image: url(assets/images/cmax_signup.jpg);
    background-position: right;
}

  .banner-sizing {
    display: flex;
    height: 15vh;
    overflow: hidden;
    padding: 0px;
    justify-content: center;
    align-items: center;
}

  .banner-sizing-2 {
    display: flex;
    height: 15vh;
    overflow: hidden;
    justify-content: flex-start;
    align-items: center;
}

  .tag-line {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: rgb(255, 255, 255);
    font-size: 2vh;
    white-space: nowrap;
    font-weight: 800;
}

  .schedule-title {
    position: absolute;
    margin-top: -36px;
    margin-left: 10px;
    max-width: 350px;
    z-index: 999;
}

  .schedule-title span {
    background: white;
    color: #1e1c1d;
    font-weight: 600;
    padding: 14px 30px;
    height: 45px;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
}

  .button-logo {
    height: 5vh;
}

  .btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0;
}

  .title-banner-2 {
    background-color: #000;
    display: flex;
    height: 55vh;
    align-items: center;
    justify-content: flex-start;
    align-content: flex-end;
}

  .title-2 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }

  .title-font {
    text-transform: uppercase;
    font-size: 4vh;
    line-height: 0.4;
    font-weight: 800;
    color: black;
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: black;
}

  .title-font-2 {
    text-transform: uppercase;
    font-size: 4vh;
    font-weight: 800;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: rgb(255, 255, 255);
    white-space: nowrap;
}

  .secure-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 69vh;
    color: white;
    padding: 10rem;
  }

  .secure-text {
    line-height: 1;
    text-transform: uppercase;
    font-size: 4vh;
    margin-bottom: 10vh;
    font-weight: 800;
    text-align: left;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: rgb(255, 255, 255);
  }

    .secure-text-2 {
      line-height: 1;
      text-transform: uppercase;
      font-size: 2vh;
      font-weight: 100;
      text-align: left;
      color: rgb(255, 255, 255);
      -webkit-text-stroke: 1px white;
      -webkit-text-fill-color: rgb(255, 255, 255);
    }
  

  #quooxButton {
    z-index: 100;
    width: 200px;
    height: 200px;
    padding-top: 10px !important;
    background-color: #ffffff;
    color: black;
    padding: 0px;
    border-radius: 50%;
    font-size: 1vw;
}

  .button-text {
    line-height: 1;
    font-size: 3vh;
    font-weight: 300;
    text-transform: uppercase;
  }

  p {
    color: white;
}

  .spacing {
    --bs-gutter-x: 0rem;
    overflow: hidden;
    margin-bottom: 0px;
}

  .spacing-2 {
    margin: 0px auto;
}

  .outline {
    color: rgb(255, 255, 255);
  }

  .img-sizing-2 {
    height: 55vh;
    overflow: hidden;
    width: -webkit-fill-available;
    object-fit: cover;
    object-position: top;
}

.img-sizing-3 {
  height: 55vh;
  overflow: hidden;
  width: -webkit-fill-available;
  object-fit: cover;
  object-position: center;
}

  .info-box {
    background-color: rgb(0, 0, 0);
  }

/* Footer */
  .top-footer-text {
    font-size: 30px;
    margin-bottom: 30px;
}

  .site-footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding-top: 5px;
}

.footer-details {
  font-weight: 300;
}

  .site-footer-image {
    margin-bottom: 30px;
    width: 185px;
}

  .align-center {
    clear: both;
    display: block;
    margin: 0 auto;
}

  .arrow-icon {
    color: #ffffff;
}

/* Quoox CSS */
  .qbody {
    background-color: rgb(0 0 0);
    margin: auto !important;
    padding: 25px;
}

  .qbody .inner-wrapper .content-body {
    margin-top: 12rem !important;
    margin-right: auto !important;
    margin-left: auto !important;
    border: none !important;
    padding: 50px !important;
    background-color: rgb(0 0 0);
}

  h1 {
    margin-top: revert;
    color: floralwhite;
}

  .btn .btn-primary {
    background-color: rgb(253, 253, 253);
    padding: 10px;
}

  body .btn-primary {
    color: #000;
}

  label {
  color: floralwhite;
}

  .input-group-addon {
    color: #212529;
}

/* Media Queries */

/* Title Sizing */
@media (min-width: 487px) {
  .title-font {
    font-size: 5vh
  }

  .title-font-2 {
    font-size: 5vh
  }

  .tag-line {
    font-size: 2.7vh;
  }
}

/* Small Screns */
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
  }

  .sliding-text {
    font-size: 1.6vh;
    margin: 1px;
  }

  .text-panel {
    padding-top: 2px;
  }

  .title-font {
    text-transform: uppercase;
    font-size: 9vw;
  }

  .tag-line {
    font-size: 4vw;
  }
  
  .title-font-2 {
    text-transform: uppercase;
    font-size: 9vw;
  }
}

/* Medium Screens */
@media (max-width: 768px) {
  .navbar-brand img {
    width: 128.86px;
    height: 44px;
  }

  .navbar {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .button-logo {
    height: 4vh;
  }
}

@media (min-width: 768px) {
  .sliding-text {
    font-size: 2.2vh;
  }

  .img-sizing {
    height: 96vh;
    overflow: hidden;
  }

  .title-font {
    font-size: 8vh;
  }

  .title-font-2 {
    font-size: 8vh;
  }

  .img-sizing-2 {
    height: 45vh;
  }

  .img-sizing-3 {
    height: 45vh;
  }

  .tag-line {
    font-size: 4vh;
  }
}

/* Large Screens */
@media (min-width: 992px) {
    .button-logo {
      height: 4vh;
  }
    .img-sizing {
      height: 95vh;
      overflow: hidden;
  }
    .text-panel {
      height: 5vh;
      padding-top: 5px;
  }
  .title-font {
    text-transform: uppercase;
    font-size: 9vh;
  }
  .title-font-2 {
    text-transform: uppercase;
    font-size: 9vh;
  }
  .img-sizing-2 {
    height: 55vh;
  }
  .img-sizing-3 {
    height: 55vh;
  }

  .tag-line {
    font-size: 5.3vh;
  }
}

/* XL Screens */
@media (min-width: 1200px) {
  .modal-xl {
    max-width: 850px;
  }

  .title-font {
    text-transform: uppercase;
    font-size: 9vh;
  }

  .title-font-2 {
    text-transform: uppercase;
    font-size: 9vh;
  }
  .img-sizing-2 {
    height: 80vh;
  }

  .img-sizing-3 {
    height: 80vh;
  }
}

@media (min-width: 1300px) {
  @-moz-keyframes scroll {
    0% {
      transform: translateX(0vw);
    }
    100% {
      transform: translateX(-80vw);
    }
}
  @-webkit-keyframes scroll {
    0% {
      transform: translateX(0vw);
    }
    100% {
      transform: translateX(-80vw);
    }
}
  @keyframes scroll {
    0% {
      -moz-transform: translateX(0vw);
      -webkit-transform: translateX(0vw);
      transform: translateX(0vw)
    }
    100% {
      -moz-transform: translateX(-80vw);
      -webkit-transform: translateX(-80vw);
      transform: translateX(-80vw);
    }
}
}

/* XXL Screens */

@media (min-width: 1600px) {
  @-moz-keyframes scroll {
    0% {
      transform: translateX(0vw);
    }
    100% {
      transform: translateX(-50vw);
    }
}
  @-webkit-keyframes scroll {
    0% {
      transform: translateX(0vw);
    }
    100% {
      transform: translateX(-50vw);
    }
}
  @keyframes scroll {
    0% {
      -moz-transform: translateX(0vw);
      -webkit-transform: translateX(0vw);
      transform: translateX(0vw)
    }
    100% {
      -moz-transform: translateX(-50vw);
      -webkit-transform: translateX(-50vw);
      transform: translateX(-50vw);
    }
}

  .img-sizing {
    height: 95vh;
    overflow: hidden;
}

  .text-panel {
    height: 5vh;
    padding-top: 5px;
}
}