/* Universal Styling */ 
  body {
    background-color: #000;
}

  .side-pad {
    padding-left: 20px;
    padding-right: 20px;
}

/* Navbar */

  ul {
    margin-top: revert;
  }

  ul .social-media-icons {
  margin: 0;
  text-align: right;
  list-style: none;
}

  .social-media-icons li {
  color: #fff;
  display: inline-block;
  float: none;
  list-style: none outside none;
}

  .social-colour {
    text-decoration: none;
    color: white;
}

  i {
    font-size: 25px;
    padding: 25px 5px;
}

  .grid {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  overflow: hidden;
}

  .navbar {
    position: absolute;
    z-index: 100;
    width: 100%;
    background: rgba(0,0,0,0.85);
}

  .navbar-brand img {
    width: 180.4px;
    height: 61.6px;
}
  
  .carousel-item img {
    object-fit: cover;
    object-position: center;
    height: 95vh;
    overflow: hidden;
}

  #imageBox {
    padding-left: 0px !important;
    padding-right: 0px !important;
    position: relative;
}

  .modal-container {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

  #quooxButton {
    position: absolute;
    z-index: 100;
    bottom: 10vh;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
}

  .sign-up img {
    width: 180px;
    height: 120px;
}

  .modal-content iframe,  .modal-content object,  .modal-content embed {
    min-height: 25.6rem;
    background-color: #000;
}

/* Quoox CSS */
  .qbody {
    background-color: rgb(0 0 0);
    margin: auto !important;
    padding: 25px;
}

  .qbody .inner-wrapper .content-body {
    margin-top: 12rem !important;
    margin-right: auto !important;
    margin-left: auto !important;
    border: none !important;
    padding: 50px !important;
    background-color: rgb(0 0 0);
}

  h1 {
    margin-top: revert;
    color: floralwhite;
}

  .btn .btn-primary {
    background-color: rgb(253, 253, 253);
    padding: 10px;
}

  body .btn-primary {
    color: #000;
}

  label {
  color: floralwhite;
}

  .input-group-addon {
    color: #212529;
}

/* Media Queries */

/* Medium Screns */
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
  }
}

/* Large Screens */
@media (max-width: 755px) {
  .navbar-brand img {
    width: 128.86px;
    height: 44px;
  }
}

/* XL Screens */
@media (min-width: 1200px) {
  .modal-xl {
    max-width: 850px;
  }
}